[submodule "lib/common_rtl"]
	path = lib/common_rtl
	url = ../common-rtl.git
[submodule "build-tools"]
	path = build-tools
	url = ../build-tools.git
[submodule "Memory/poly-mem-subsystem"]
	path = Memory/poly-mem-subsystem
	url = ../poly-mem-subsystem
[submodule "verif/mlkem-python"]
	path = verif/mlkem-python
	url = git@github.com:QREM-CORE/mlkem-python.git
